body {
  font-family: roboto, arial;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 0px 10vw;
}

.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;

  /* padding: auto; */
}
.header-content {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.logo {
  flex: 1 1 auto;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: white;
  align-items: center;
  /* margin-left: 20px; */
}


* {
  outline: 1px solid red;
}
